<ion-view title="Auctions">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="auction in auctions" href="#/app/auctions/{{auction.id}}">
        {{auction.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

<script id="bid.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar title="My Modal Title"></ion-header-bar>
    <ion-content>
      Hello!
    </ion-content>
  </div>
</script>
